body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  cursor: pointer;
}
.content{
  padding:2ex;
}

.navbar{
  padding:2ex;
}


/*
body{
  background-color: #222;
}
h3, td, p, label, .form-group{
  color: white;
}
.form-control{
  background-color: #444;
  color:white;
}
*/
